[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atcoder-tools = "*"

[dev-packages]
autopep8 = "*"
python-language-server = "*"
numpy = "*"

[requires]
python_version = "3.8"
